<div class="container">
  <div class="row">

    <h3 class="my-3">All of the events should show below</h3>
    <div class="add-group offset-5 my-3">
      <label class="mx-2 h6" for="">Add new Event:</label>
      <button class=" newEventButton btn btn-success" (click)="addNewEvent()" [routerLink]="['event/0']">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <div class="row col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Event</th>
            <th>Date</th>
            <th>Time</th>
            <th>Address</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of eventList | async">
            <td>{{event.name}}</td>
            <td>{{event.date}} </td>
            <td>{{event.time}}</td>
            <td>{{event.location.address}}, {{event.location.city}}, {{event.location.country}}</td>
            <td>
              <div class="btn-group">
                <button [routerLink]="['event/' + event.id]" class="btn btn-info">
                  <i class="fa fa-pencil"></i>
                </button>
                <button (click)="removeEvent(event.id, event)" class="btn btn-danger ml-2">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>