<div class="container">
    <div class="row">
        <div class="col-8">
            <input type="text" placeholder="Search..." (keyup)="onTypePhrase($event)">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <table class="table table-striped">
                <thead>
                    <th (click)="sortByCategory('id')">ID</th>
                    <th (click)="sortByCategory('fullName')">fullName</th>
                    <th (click)="sortByCategory('email')">email</th>
                    <th (click)="sortByCategory('ownedCarType')">ownedCarType</th>
                    <th (click)="sortByCategory('ownedCarModel')">ownedCarModel</th>
                    <th (click)="sortByCategory('carAge')">carAge</th>
                    <th (click)="sortByCategory('isForSale')">isForSale</th>
                    <th (click)="sortByCategory('estimatedValue')">estimatedValue</th>
                </thead>
                <tbody>
                    <tr *ngFor="let cars of carsList$ | async | filter:searchPhrase:'fullName' |sorter:columnKey">
                        <td>{{ cars.id }}</td>
                        <td>{{ cars.fullName }}</td>
                        <td>{{ cars.email }}</td>
                        <td>{{ cars.ownedCarType }}</td>
                        <td>{{ cars.ownedCarModel }}</td>
                        <td>{{ cars.carAge }}</td>
                        <td>{{ cars.isForSale }}</td>
                        <td>{{ cars.estimatedValue }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>